body{
    background-color: rgba(223, 223, 186, 0.5);
    width: 100%;
    height: 100%;
}
.submit_btn{
    font-family: 'Open Sans Condensed', sans-serif;
    text-decoration: none;
    /* position: relative; */
    width: 120px;
    display: block;
    /* margin: 9px auto; */
    font-size: 14px;
    color: #fff;
    padding: 8px;
    border-radius: 6px;
    border: none;
    background: rgba(233, 30, 63, 0.945);
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.wripper{
    padding-top: 1%;
    padding-left: 90%;
}
.close-btn {
    position: absolute;
    cursor: pointer;
    font-family: 'Open Sans Condensed', sans-serif;
    line-height: 18px;
    top: 3px;
    right: 3px;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 10px;
    opacity: .2;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
img {
    display: block;
    margin: auto;
    width: 100%;
    height: auto;
}
.margin_card_elem{
   margin: 5px 5px;
}
